<div class="container">

<h1 class="display-4 font-weight-normal">Movies</h1>
      <div class="row">
        <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="/movies/<%= movie.id %>"><svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title><%= movie.name %></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= movie.name %></text></svg></a>
            <div class="card-body">
              <p class="card-text"><%= movie.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/movies/<%= movie.id %>" class="btn btn-sm btn-outline-primary"><i class="fas fa-eye"></i> <%= View.where(movie_id: movie.id).count %></a>
                  <% if user_signed_in? && current_user.id == movie.user_id %>
                    <%= link_to 'Edit', edit_movie_path(movie), class: "btn btn-sm btn-outline-primary" %>
                  <% end %>
                </div>
                <small class="text-muted">by <a href="/users/<%= movie.user.id %>"><%= movie.user.username %></a></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

